<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <link rel="stylesheet"  href="/css/domain/member/sd.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>게시글 등록하기</title>
</head>
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>

        <form th:action="@{/board/create}" th:object="${boardDto}" method="post">
<!--            <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">-->
<!--                <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />-->
<!--            </div>-->
        <div class="mb-3">
            <label for="boardCode" class="form-label">코드</label>
            <select name="boardCode" id="boardCode" class="form-select">
                <option value="1">롤</option>
                <option value="2">발로란트</option>
                <option value="3">오버워치2</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="tag" class="form-label">태그</label>
            <select name="tag" id="tag" class="form-select">
                <option value="1">자유</option>
                <option value="2">Tip</option>
                <option value="3">질문</option>
            </select>
        </div>
            <div class="mb-3">
                <label for="boardTitle" class="form-label">제목</label>
                <input type="text" name="boardTitle" id="boardTitle" class="form-control">
            </div>
            <div class="mb-3">
                <label for="boardText" class="form-label">내용</label>
                <textarea name="boardText" id="boardText" class="form-control" rows="10"></textarea>
            </div>
            <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</html>