<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상세보기</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .content-container {
            margin: 20px auto;
            max-width: 800px;
        }

        .reply-form textarea {
            width: 100%;
            resize: none;
        }
    </style>
</head>
<body>
<div class="container content-container">
    <div class="card-text" th:utext="${@commonUtil.markdown(board.boardText)}"></div>
    <h1 class="my-4" th:text="${board.boardTitle}"></h1>
    <div class="mb-4" th:text="${board.boardText}"></div>
    <div th:if="${board.updateDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
        <div class="mb-2">modified at</div>
        <div th:text="${#temporals.format(board.updateDate, 'yyyy-MM-dd HH:mm')}"></div>
    </div>
    <div class="mb-2">
        <span th:if="${board.author != null}" th:text="${board.author.nickName}"></span>
    </div>
    <div class="text-muted" th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></div>
    <div class="my-3">
        <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
           th:data-uri="@{|/board/vote/${board.boardNo}|}">
            추천
            <span class="badge rounded-pill bg-success" th:text="${#lists.size(board.voter)}"></span>
        </a>
        <a th:href="@{|/board/modify/${board.boardNo}|}" class="btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated()"
           th:if="${board.author != null and #authentication.getPrincipal().getUsername() == board.author.loginId}"
           th:text="수정"></a>
        <a href="javascript:void(0);" th:data-uri="@{|/board/delete/${board.boardNo}|}"
           class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
           th:if="${board.author != null and #authentication.getPrincipal().getUsername() == board.author.loginId}"
           th:text="삭제"></a>
    </div>
    <!-- 답변 갯수 표시 -->
    <h5 class="mt-4" th:text="|${#lists.size(board.replyList)}개의 댓글이 있습니다.|"></h5>

    <!-- 댓글 반복 -->
    <div th:each="reply : ${board.replyList}" class="card my-3">
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(reply.replyContent)}"></div>
            <div class="d-flex justify-content-between mt-2">
                <div th:if="${reply.replyUpdate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(reply.replyUpdate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <span class="font-weight-bold" th:if="${reply.author != null}"
                      th:text="${reply.author.nickName}"></span>
                <span class="text-muted" th:text="${#temporals.format(reply.replyDate, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
        </div>
        <div class="my-3">
            <a th:href="@{|/reply/modify/${reply.replyNo}|}" class="btn btn-sm btn-outline-secondary"
               sec:authorize="isAuthenticated()"
               th:if="${reply.author != null and #authentication.getPrincipal().getUsername() == reply.author.loginId}"
               th:text="수정"></a>
            <a href="javascript:void(0);" th:data-uri="@{|/reply/delete/${reply.replyNo}|}"
               class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
               th:if="${reply.author != null and #authentication.getPrincipal().getUsername() == reply.author.loginId}"
               th:text="삭제"></a>
        </div>
    </div>

    <!-- 답변 등록 -->
    <div class="reply-form mt-4">
        <form th:action="@{|/reply/create/${board.boardNo}|}" method="post">
            <div class="form-group">
                <label for="replyContent">댓글 작성</label>
                <textarea class="form-control" name="replyContent" id="replyContent" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">답변등록</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
</body>
</html>
